* {
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
}

input[type=number].sheet-number-input-green {
    border-color: #bfbf88;
    border-width: 2px;
    border-radius: 0;
    border-style: solid;
    background-color: #f5f4ec;
    color: #66652E;
    padding-bottom: 0;
    text-align: right;
    font-weight: bold;
}

input[type=number].sheet-number-input-orange {
    border-color: #f7d1a7;
    border-width: 2px;
    border-radius: 0;
    border-style: solid;
    background-color: #fdf3e9;
    color: #730A18;
    padding-bottom: 0;
    text-align: right;
    font-weight: bold;
}

.sheet-container {
    min-width: 787px;
}

.sheet-header {
    margin: 3px;
}

.sheet-arrow {
    margin-right: 5px;
    font-weight: bold;
}

.sheet-label {
    font-weight: bold;
}

.sheet-attributes-header {
    margin-bottom: 10px;
    display: inline-grid;
    width: auto;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    grid-column-gap: 2px;
}

.sheet-attributes-header-input {
    border-color: #EBE9DA;
    border-width: 0 0 2px 0;
    border-radius: 0;
    border-style: solid;
    padding-bottom: 0;
}

.sheet-stats {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.sheet-stats-column {
    display: inline-grid;
    height: 180px;
    width: auto;
    margin-right: 1px;
    align-items: center;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 2px;
    grid-column-gap: 5px;
}

.sheet-stats-wide-column {
    display: inline-grid;
    height: 180px;
    width: auto;
    align-items: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 2px;
    grid-column-gap: 5px;
}

.sheet-stats-short {
    grid-template-rows: repeat(3, 1fr);
    height: 90px;
}

.sheet-stats-green {
    padding: 3px;
    background-color: #EBE9DA;
    border: 2px solid #AFAF6B;
    color: #66652E;
}

.sheet-stats-orange {
    padding: 3px;
    background-color: #FDF1E4;
    border: 2px solid #F5C691;
    color: #730A18;
}

.sheet-stats-column-header {
    text-align: center;
    width: 100%;
    grid-column: span 2
}

.sheet-derived-value {
    font-weight: bold;
    width: 3em;
    white-space: nowrap;
}

.sheet-smalltext {
    width: 240px;
    height: 58px;
}

.sheet-smallertext {
    width: 240px;
    height: 40px;
}

input[type=number].sheet-long-number {
    width: 4em;
}

input[type=number].sheet-longer-number {
    width: 5em;
}

select {
    margin-bottom: 0px;
    height: 32px;
}

.sheet-valor-button {
    height: 30px;
    font-weight: 550;
}

.sheet-tech-block {
    padding-bottom: 15px;
}

.sheet-tech-conditional-field {
    margin-bottom: 3px;
}

.sheet-unspent-ap {
    width: 100%; 
    color: #4E1319;
    display: inline-block;
    text-align: right;
    font-size: 12pt;
    font-weight: bold;
    margin: 10px 0 20px;
}

.sheet-unspent-sp {
    width: 100%; 
    color: #757437;
    text-align: right;
    font-size: 12pt;
    font-weight: bold;
    margin: 10px 0 20px; 
}

.sheet-unspent-tp {
    width: 100%; 
    color: #4E1319;
    text-align: right;
    font-size: 12pt;
    font-weight: bold;
    margin: 10px 0 20px; 
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #4E1319;
    margin: 1em 0;
    padding: 0; 
    width: auto;
}

.sheet-section-header {
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
    letter-spacing: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.sheet-roll-defense {
    margin-top: 20px;
}

.sheet-defense-buttons {
    text-align: center;
}

/* Flaws */

.sheet-flaws-header, .sheet-orbment-header {
    color: #730A18;
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    letter-spacing: 10px;
    margin-bottom: 20px;
    margin-top: 35px;
}

.sheet-flaw {
    color: #730A18;
    background-color: #e5d4cf;
    padding-bottom: 10px;
    margin-bottom: 15px;
    margin-left: 8px;
    padding-left: 4px;
    width: 95%;
}

.sheet-flaw-upper {
    padding-left: -5px;
    padding-bottom: 5px;
    align-items: center;
}

.sheet-flaw-picker {
    border: 3px solid #730A18;
    border-radius: 0;
    position: relative;
    color: black;
    top: -8px;
    left: -8px;
}

.sheet-flaw-level {
    border-color: #730A18;
    border-width: 2px;
    border-radius: 0;
    border-style: solid;
    background-color: #ece0dd;
    padding-bottom: 0px;
    color: #730A18;
    text-align: right;
    font-weight: bold;
}

.sheet-notes {
    width: 90%;
}

/* Skills */

.sheet-skills-header {
    color: #757437;
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    letter-spacing: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.sheet-skill {
    color: #757437;
    background-color: #D4D1C1;
    padding-bottom: 10px;
    margin-bottom: 15px;
    margin-left: 8px;
    padding-left: 4px;
    width: 95%;
}

.sheet-skill select {
    color: black;
}

.sheet-skill-upper {
    padding-left: -5px;
    padding-bottom: 5px;
    align-items: center;
}

.sheet-skill-picker {
    border: 3px solid #757437;
    border-radius: 0;
    position: relative;
    color: black;
    top: -8px;
    left: -8px;
}

.sheet-skill-level {
    border-color: #757437;
    border-width: 2px;
    border-radius: 0;
    border-style: solid;
    background-color: #e3e1d7;
    padding-bottom: 0px;
    color: #757437;
    text-align: right;
    font-weight: bold;
}

.sheet-notes {
    width: 90%;
}

/* Techs */

.sheet-techs-header {
    color: #730A18;
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    letter-spacing: 10px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.sheet-tech {
    color: #730A18;
    background-color: #FCECD8;
    padding-bottom: 10px;
    margin-bottom: 5px;
    margin-left: 8px;
    padding-left: 7px;
    padding-top: 5px;
    padding-right: 5px;
    align-items: center;
    display: inline-grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, auto);
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}

.sheet-tech select {
    border: 2px solid #F2AC63;
    border-radius: 0;
    background-color: #fdf5eb;
    width: 190px;
}

.sheet-tech textarea,input[type=text] {
    background-color: white;
}

select.sheet-number-select {
    width: 4em;
    margin-bottom: 0px;
    font-weight: bold;
}

.sheet-tech-name {
  position: relative;
  z-index: 10;
  top: 13px;
  color: black;
}

.sheet-tech-summary {
    grid-row: span 4;
    align-items: top;
    height: 100%;
}

.sheet-tech-description {
    grid-column: span 3;
}

.sheet-tech-modifiers {
    grid-column: span 3;
}

.sheet-tech-optional-fields {
    grid-column: span 3;
}

.sheet-spacer {
  grid-column: span 2;
}

.sheet-tech-name input {
    border: 3px solid #F2AC63;
    border-radius: 0;
    width: 230px;
    font-weight: bold;
    line-height: 20px;
    font-size: 15px;
}

.sheet-tech-field {
    border: 2px solid #F2AC63;
    background-color: #fdf5eb;
    border-radius: 0;
    margin-left: 2px;
    color: black;
}

.sheet-tech-small-input {
    font-weight: bold;
}

.sheet-tech-cost {
    padding-top: 5px;
}

.sheet-tech-level { 
    text-align: left;
}

.sheet-tech-core-power { 
    text-align: left;
}

.sheet-tech-cost {
    text-align: left;
}

.sheet-tech-top-table {
    margin-bottom: 8px;
}

/* Conditionals */

.sheet-conditional-check {
    display: none;
}

.sheet-conditional-block {
    display: none;
}

.sheet-conditional-block-inverse {
    display: inline;
}

.sheet-conditional-check:checked ~ .sheet-conditional-block {
    display: inline;
}
.sheet-conditional-check:checked ~ .sheet-conditional-block-inverse {
    display: none;
}


.sheet-stance-conditional-check {
    display: none;
}

.sheet-stance-conditional-block {
    display: none;
}

.sheet-stance-conditional-block-inverse {
    display: inline;
}

.sheet-stance-conditional-check:checked ~ .sheet-stance-conditional-block {
    display: inline;
}
.sheet-stance-conditional-check:checked ~ .sheet-stance-conditional-block-inverse {
    display: none;
}

.sheet-rolltemplate-valor .sheet-outer {
    font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
    color: #730A18;
    background-color: #FCECD8;
    margin-left: 8px;
    padding-left: 5px;
    padding-bottom: 3px;
}

.sheet-rolltemplate-valor .sheet-header {
    position: relative;
    border: 3px solid #F2AC63;
    color: black;
    left: -11px;
    font-weight: bold;
    font-size: 11pt;
    background-color: white;
    padding: 3px;
    display: inline-block;
    border-radius: 3px;
}

.sheet-rolltemplate-valor .sheet-roll {
    line-height: 170%
}

div.sheet-tab-content { display: none; }

/* Tabbed container */

input.sheet-tab1:checked ~ div.sheet-tab1,
input.sheet-tab2:checked ~ div.sheet-tab2,
input.sheet-tab3:checked ~ div.sheet-tab3,
input.sheet-tab4:checked ~ div.sheet-tab4 { display: block; }

input.sheet-tab {
    width: 150px;
    height: 25px;
    position: relative;
    left: 6px;
    top: 2px;
    margin: -1.5px;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
}

input.sheet-tab + span::before {
    content: attr(title);
    border-color: #bababa #bababa #bababa #bababa;
    border-width: 2px 2px 0 2px;
    border-radius: 5px 5px 0 0;
    border-style: none;
    margin: 2px 0 0 2px;
    text-align: center;
    display: inline-block;
    background: transparent;
    width: 150px;
    height: 23px;
    font-size: 16px;
    position: absolute;
    top: 72px;
    left: 30px;
}

input.sheet-tab:checked + span::before {
    background: #e8e8e8;
    border-style: solid;
    margin: 0;
}

input.sheet-tab2 + span::before { left: 181px; }

input.sheet-tab3 + span::before { left: 331px; }
div.sheet-tab-content {
    border: 2px solid #bababa;
    margin: 2px 0 0 0;
    padding: 5px;
}

input.sheet-tab4 + span::before { left: 481px; }
div.sheet-tab-content {
    border: 2px solid #bababa;
    margin: 2px 0 0 0;
    padding: 5px;
}

/* .sheet-attributes-orbslot1{
    margin-top:20px;
} */

input[name="attr_tech_isarts"][value="1"]+.sheet-tech {
    background-color: cyan;
}

input[name="attr_skillisextra"][value="1"]+.sheet-skill {
    background-color: cyan;
}




input[value="fire-quartz"]+select {
    box-shadow: 5px 0px 10px 2px rgb(223, 20, 20)
}


input[value="time-quartz"]+select {
    box-shadow: 5px 0px 10px 2px black
}

input[value="water-quartz"]+select {
    box-shadow: 5px 0px 10px 2px rgb(120, 120, 223)
} 

input[value="earth-quartz"]+select {
    box-shadow: 5px 0px 10px 2px brown
}

input[value="wind-quartz"]+select {
    box-shadow: 5px 0px 10px 2px green
}

input[value="space-quartz"]+select {
    box-shadow: 5px 0px 10px 2px gold
}

input[value="mirage-quartz"]+select {
    box-shadow: 5px 0px 10px 2px silver
} 

.sheet-tab-content.sheet-tab2 > div:not(.sheet-orbment-header) {
    padding-left: 50px;
}

button[type="action"] {
    margin-right: 10px;
    margin-bottom: 3px;
}

.sheet-currentStance{
    color:blue;
}

.sheet-pentagram{
  --slot-size: 50px;
  --radius: 140px;
  --fire:   #b72d18; 
  --water:  #2580ad;   
  --wind:   #34973b;  
  --earth:  #7f5321; 
  --time:   #423853;   
  --space:  #c5a532;   
  --mirage: #bccbcf;  

  --grad-fire:   radial-gradient(circle, #ec8173 0%, #b72d18 45%, #64251c 100%);
  --grad-water:  radial-gradient(circle, #71b8d2 0%, #2580ad 45%, #0a3a54 100%);
  --grad-wind:   radial-gradient(circle, #82d68c 0%, #34973b 45%, #1e5722 100%);
  --grad-earth:  radial-gradient(circle, #bf8d57 0%, #7f5321 45%, #573511 100%);
  --grad-time:   radial-gradient(circle, #665c67 0%, #423853 45%, #1f1c20 100%);
  --grad-space:  radial-gradient(circle,  #f3e27a 0%, #c5a532 45%, #4d3e08 100%);
  --grad-mirage: radial-gradient(circle, #e4e4e4 0%, #bccbcf 45%, #6c7071 100%);
  
  --line-fire:   linear-gradient(to right, #ec8173, #b72d18, #64251c);
  --line-water:  linear-gradient(to right, #71b8d2, #2580ad, #0a3a54);
  --line-wind:   linear-gradient(to right, #82d68c, #34973b, #1e5722);
  --line-earth:  linear-gradient(to right, #bf8d57, #7f5321, #573511);
  --line-time:   linear-gradient(to right, #665c67, #423853, #1f1c20);
  --line-space:  linear-gradient(to right, #f3e27a, #c5a532, #4d3e08);
  --line-mirage: linear-gradient(to right, #e4e4e4, #bccbcf, #6c7071);

  margin-bottom:30px;

}


.sheet-device-shell {
  padding: 32px 40px;
  border-radius: 32px;
  background:
    radial-gradient(circle at top left, rgba(120,180,255,0.25), transparent 55%),
    radial-gradient(circle at bottom right, rgba(255,180,120,0.18), transparent 55%),
    linear-gradient(145deg, #1a1d24, #05070b);
  box-shadow:
    0 24px 40px rgba(0,0,0,0.85),
    0 0 0 2px rgba(120,140,170,0.35),
    inset 0 0 18px rgba(0,0,0,0.9);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.sheet-orbment {
  position: relative;
  width: 420px;
  height: 420px;
  border-radius: 24px;
  background:
    radial-gradient(circle at center, #1b2238 0, #050711 55%, #000 100%);
  box-shadow:
    0 0 0 2px rgba(80,100,130,0.7),
    inset 0 0 25px rgba(0,0,0,0.9);
}


.sheet-orbment-lines-wrap {
  inset: 0;
  z-index: 0; /* behind slots */
}

.sheet-slot-anchor {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--slot-size);
  height: var(--slot-size);
  margin: calc(var(--slot-size) / -2);
}

.sheet-slot-anchor:nth-child(1) { --i: 0; }
.sheet-slot-anchor:nth-child(2) { --i: 1; }
.sheet-slot-anchor:nth-child(3) { --i: 2; }
.sheet-slot-anchor:nth-child(4) { --i: 3; }
.sheet-slot-anchor:nth-child(5) { --i: 4; }
.sheet-slot-anchor:nth-child(6) { --i: 5; }
.sheet-slot-anchor:nth-child(7) { --i: 6; }

.sheet-slot-anchor {
  transform:
    rotate(calc(var(--i) * 360deg / 7))
    translate(var(--radius))
    rotate(calc(var(--i) * -360deg / 7));
}


.sheet-quartz-slot {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(circle at center, #0a0d14 0%, #05070c 60%, #000 100%);
  border: 2px solid #3a4a5a;
  z-index: 10;
}

.sheet-tech-ring {
  position: absolute;
  inset: 6px;
  border-radius: 50%; 
  border: 2px groove rgba(120,150,180,0.35);
  pointer-events: none;
  /* transform-origin: center; */
  z-index: 11;
  box-shadow:
    0 0 12px currentColor,
    0 0 24px currentColor;
}


.sheet-active > .sheet-tech-pulse, 
.sheet-quartz-slot:has(input[value~="time-quartz"]) > .sheet-tech-pulse,
.sheet-quartz-slot:has(input[value~="space-quartz"]) > .sheet-tech-pulse,
.sheet-quartz-slot:has(input[value~="mirage-quartz"]) > .sheet-tech-pulse,
.sheet-quartz-slot:has(input[value~="fire-quartz"]) > .sheet-tech-pulse,
.sheet-quartz-slot:has(input[value~="water-quartz"]) > .sheet-tech-pulse,
.sheet-quartz-slot:has(input[value~="wind-quartz"]) > .sheet-tech-pulse,
.sheet-quartz-slot:has(input[value~="earth-quartz"]) > .sheet-tech-pulse
{
  position: absolute;
  inset: -12px;
  border-radius: 50%;
  background: currentColor;
  opacity: 0;
  filter: blur(20px);
  transform-origin: center;
  z-index: 9; /* behind slot housing */
}

.sheet-quartz-core {
  position: absolute;
  inset: 20%;
  border-radius: 50%;
  overflow: hidden;
  background-blend-mode: screen;
  box-shadow:
    inset 0 0 8px rgba(255,255,255,0.2),
    0 0 12px currentColor,
    0 0 24px rgba(0,0,0,0.9);
  transform-origin: center;
  z-index: 12;
}


/* -----------------------------
   ELEMENT COLORS
------------------------------ */
.sheet-quartz-slot:has(input[value~="fire-quartz"])   { color: var(--fire); }
.sheet-quartz-slot:has(input[value~="water-quartz"]) { color: var(--water); }
.sheet-quartz-slot:has(input[value~="wind-quartz"])  { color: var(--wind); }
.sheet-quartz-slot:has(input[value~="earth-quartz"]) { color: var(--earth); }
.sheet-quartz-slot:has(input[value~="time-quartz"])  { color: var(--time); }
.sheet-quartz-slot:has(input[value~="space-quartz"])  { color: var(--space); }
.sheet-quartz-slot:has(input[value~="mirage-quartz"]) { color: var(--mirage); }

.sheet-quartz-slot:has(input[value~="fire-quartz"]) > .sheet-quartz-core  { background: var(--grad-fire) }
.sheet-quartz-slot:has(input[value~="water-quartz"]) > .sheet-quartz-core { background: var(--grad-water) }
.sheet-quartz-slot:has(input[value~="wind-quartz"]) > .sheet-quartz-core { background: var(--grad-wind) }
.sheet-quartz-slot:has(input[value~="earth-quartz"]) > .sheet-quartz-core { background: var(--grad-earth) }
.sheet-quartz-slot:has(input[value~="time-quartz"]) > .sheet-quartz-core { background: var(--grad-time) }
.sheet-quartz-slot:has(input[value~="space-quartz"]) > .sheet-quartz-core{ background: var(--grad-space) }
.sheet-quartz-slot:has(input[value~="mirage-quartz"]) > .sheet-quartz-core { background: var(--grad-mirage) }

/* -----------------------------
   LINES
------------------------------ */
.sheet-energy-line {
  stroke-linecap: round;
  stroke-width: 4;
  opacity: 0.9;
  filter: none;
}

.sheet-energy-line-highlight {
  stroke-linecap: round;
  stroke-width: 6;
  opacity: 0.8;
  mix-blend-mode: screen;
  filter: none;
}

.sheet-inactive-line {
  stroke: rgba(80, 90, 110, 0.35);
  stroke-width: 2;
  opacity: 0.6;
  filter: none;
}

/* slot glow */
.sheet-slot-glow,
.sheet-quartz-slot:has(input[value~="time-quartz"]),
.sheet-quartz-slot:has(input[value~="space-quartz"]),
.sheet-quartz-slot:has(input[value~="mirage-quartz"]),
.sheet-quartz-slot:has(input[value~="fire-quartz"]),
.sheet-quartz-slot:has(input[value~="water-quartz"]),
.sheet-quartz-slot:has(input[value~="wind-quartz"]),
.sheet-quartz-slot:has(input[value~="earth-quartz"])
 {
  box-shadow:
    0 0 12px currentColor,
    0 0 24px currentColor;
}


.sheet-quartz-slot:has(input[value~="locked"]) > div
{
    display:none;
}

